@import "../../styles/variables.scss";
.products {
  .heading {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;

    button {
      background-color: $soft-bg;
      color: #fff;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }
  }
}
